<div class="container">
  <div class="row">
    <div class="col-8 plate">
      <div class="like-index-header">
        <p>いいねした商品</p>
      </div>

      <div class="like-indexes">
        <div class="mypage-products">

          <% @customer.likes.each do |like| %>
            <%= link_to product_path(like.product.id) do %>
              <div class="products_block">
                <div class="products">
                  <div class="products_image">
                    <%= attachment_image_tag like.product.product_images.first, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "100%", class: "rounded" %>
                  </div>
                  <% if like.product.is_sold == true %>
                    <div class="mypage-sold-wrap">
                      <p>sold out</p>
                    </div>
                  <% end %>
                  <p class="products_name"><%= like.product.name %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>




    </div>
  </div>
</div>




