<div class="container">
  <h4><%= @customer.shop_name %></h4>
  <h4><%= @customer.shop_description %></h4>

  <% @products.each do |product| %>
    <%= attachment_image_tag product, :image1_id,  format: 'jpeg', fallback: 'no_image.jpg', size: '150x150', class: "rounded" %>
    <%= product.name %>

  <% end %>


</div>

