<div class="container">

  <h5>オファーした商品:<%= @offer.offer_product.name %></h5>
  <h5>交換する商品:<%= @offer.trade_product.name %></h5>


  <%= link_to "オファーの取り下げ", product_offer_path(@offer.offer_product.id, @offer.id), method: :delete, local: :true %>
</div>