<div class="about-header">
</div>

<div class="about-top-wrapper">
  <h1>about us</h1>
  <h5>アグリバーター（仮）です。</h5>
</div>
<div class="about-contents-wrapper">
  <p>日本の食品廃棄物等は年間<span>2,531</span>万トン、<br>
  そのうち食べられるのに捨てられる食品「食品ロス」の量は<br>
  年間<span>600</span>万トと推計されており、<br>
  日本の人口1人当たりの食品ロス量は年間約<span>47</span>キログラムです。<br>
  日本では、家計における食費は消費支出の中で4分の1を占めています。<br>
  食料自給率（カロリーベース）は<span>38</span>％で、<br>
  食料の多くを海外からの輸入に依存しています。<br>
  また、世界の食料廃棄量は年間約<span>13</span>億トンで、<br>
  人の消費のために生産された食料のおおよそ3分の1を廃棄しています。<br>
  このように、食料を大量に生産、輸入しているのに、その多くを捨てている現実があるのです。</p>
</div>
<div class="about-contents-wrapper2">
  <p>私たちはこの問題に対処すべくこのアプリを立ち上げました。<br>
  農家さんが生産する<span>野菜</span>が流通されることなく、<br>
  大量に廃棄されている問題を解決する手段として作成いたしました。<br>
  金銭のやり取りは行わず、<br>
  <span>物々交換</span>（レストラン側はフードチケット等）での取引<br>
  生産者は<span>廃棄</span>される野菜を商品と交換できる。<br>
  レストラン側はストックに使用する食材や、試作段階に使用する食材など<br>
  良品でなくてもいいものを<span>廃棄野菜</span>で代用することで<br>
  コスト面でのメリット、また<span>フードチケット</span>での交換をすることで、<br>
  自店の回転にも貢献することができる。</p>
  <h5>廃棄されてしまう野菜を持つ<span>生産者</span>と、<br>
  フードロスに取り組む<span>レストラン</span>をつなぐ <span>物々交換プラットフォーム</span></h5>

</div>