<div class="container">
  <div class="row">
    <div class="col-6 plate">
      <div class="complete">
        <h5>オファー申請しました！</h5><br>
        <p>商品の準備をしてください！</p>
      </div>
    </div>
  </div>
</div>