/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/* 共通　*/
ul {
  list-style: none;
}

.container {
  min-width: 300px;
}

header {
  height: 100px;
  box-shadow: 0px 3px #808080;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 0px;
}
body {
  background-color: #EEEEEE;
}

.plate {
  background-color: white;
  margin: 0 auto;
  margin-top: 130px;
  box-shadow: 3px 3px #808080;

}

.complete {

  text-align: center;
  padding: 30px;
}

.complete h5{
  font-weight: bold;
}

.customer-image {
  border-radius: 100%;
}




/* ヘッダー */
.logo_image {
  float: left;
  margin-left: 30px;
  margin-top: -20px;
  height: 150%;
}



.btn-right-wrapper {
  float: right;
  margin-right: 30px;
}

.admin-login {
  line-height: 100px;
  color: red;
  margin-left: 70px;


}


.btn-right {
  font-size: 25px;
  display: inline-block;

  margin-right: 20px;
  line-height: 100px;
}

.bar-menu {
  display: none;
  font-size: 70px;
}

.admin-bar-menu {
  display: block;
}
.admin-bar-menu i{
  font-size: 70px;
  line-height: 100px;
}




@media(max-width: 850px){
  .bar-menu {
    display: block;
  }

  .menu-right {
    display: none;
  }

  .modal-btn {
    font-size: 15px;
  }

}




/* マイページ　メニューモーダル */
.menu-modal-wrapper {
  width: 300px;
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 100;
  display: none;
  background-color: white;
}

.profile-detail-modal {
  text-align: center;
  font-size: 16px;
  background-image: image-url("PKbokeIMGP06701713_TP_V.jpg");
  background-size: cover;
  padding: 10px;
}

.modal-btn {
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.admin-modal-btn {
  line-height: 60px;
  padding-left: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.modal-btn:hover {
  background-color: #EEEEEE;
  font-size: 18px;
}

.admin-modal-btn:hover {
  background-color: #EEEEEE;
  font-size: 18px;
}


/*  バーメニュー　モーダル  */
.bar-menu-modal-wrapper {
  width: 300px;
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 100;
  display: none;
  background-color: white;
}

.menu-modal-customer-image {
  width: 30%;
  border-radius: 100%;
}

.admin-bar-menu-modal-wrapper {
  width: 300px;
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 100;
  display: none;
  background-color: white;
}


/*  カテゴリーモーダル  */
.category-menu-modal-wrapper {
  width: 300px;
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 100px;
  right: 270px;
  z-index: 100;
  display: none;
  background-color: white;
}

.category-modal-btn {
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.category-modal-btn:hover {
  background-color: #EEEEEE;
  font-size: 18px;
}

.search-form {
  padding: 10px;
}


/* 新規登録　*/

.field {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  padding: 3px;
}
.field span {
  color: red;
}
.field h9{
  font-size: 13px;
}

.form-header {
  text-align: center;
  border-bottom: 3px solid #CCCCCC;
}

.form-header h5 {
  font-weight: bold;
  line-height: 60px;
}
.actions {
  text-align: center;
  padding: 10px;

}



/*  カテゴリー一覧 */
/*  中身はtopページと同様 */

.category-index-wrapper {
  width: 100%;
  margin-top: 120px;
}

/*  管理者側 */

.user-index-header {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;

}