// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*  いいねした商品  */

.like-index-header {
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
}
