// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/* 商品詳細ページ　*/

.product-details {
  text-align: center;
}

.product_name {
  font-size:20px;
  line-height: 50px;
  font-weight: bold;
}

.slides {
  padding: 0 0;
  position: relative;
}

.slide-image {
  width: 80%;

}
.product-show-sold-wrap {
  background-color: red;
  color: white;
  height: 10%;
  position: absolute;
  top: 30%;
  width: 100%;
  opacity: 0.7;
  right: 0%;
  font-size: 25px;
}
.product-show-is-active-wrap {
  background-color: #CCCCCC;
  color: white;
  height: 10%;
  position: absolute;
  top: 30%;
  width: 100%;
  opacity: 0.7;
  right: 0%;
  font-size: 25px;
}


.product_description {
  margin: 10px 10px;
  text-align: left;
}
.shop_name p{
  display: inline-block;
  font-weight: bold;
}
.like_button {
  color: #e54747;
}

.unlike_button {
  color: #808080;
}

.likes_buttons p{
  display: inline-block;
  margin-left: 10px;
}


.slide {
  display: none;
  margin: 0 auto;
}

.active {
  display: block;
}

.index-btn-wrapper {
  font-size: 16px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: white;

  width: 40px;
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.index-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}
.comment-wrapper {
  margin-top: 15px;
  padding: 15px;
}

.comments h9{
  font-size: 10px;
  font-weight: bold;
}
.comments h7{
  font-size: 10px;
}


.new-comment p{
  background-color: #FFFFCC;
  font-size: 10px;
}



/*　商品編集ページ  */

.edit-header {
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
}

.edit-image-image-block {
  margin: 0 3px;
  float: left;
  width: 30%;
  padding: 3px 3px;
  background-color: #EEEEEE;
  text-align: center;

}

.edit-product_image {
  width: 80%;
  height: auto;

}

