// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*  フォロー、フォロワー一覧　 */

.followers-header {
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
}

.follow-customer-block {
  float: left;
  width: 25%;
  padding: 10px 10px;
  text-align: center;


}

.follow-customers {
  background-color: white;
  box-shadow: 3px 3px #CCCCCC;



}

.follow-customer-image {
  width: 80%;
}

.follow-customer-btn {
  line-height: 10px;
}

