<div class="container">
  <div class="row">
    <div class="col-10 category-index-wrapper">

      <div class="top-genre-header">
        <p>"<%= @keyword %>"で検索</p>
      </div>
      <div class="top-genre-product-wrapper">
        <% @products.each do |product| %>
          <%= link_to product_path(product.id) do %>
            <div class="products_block">
              <div class="products">
                <div class="products_image">
                  <%= attachment_image_tag product.product_images.first, :image, fallback: 'no_image.jpg', class: "product_image" %>
                </div>
                <% if product.is_sold == true %>
                <div class="mypage-sold-wrap">
                  <p>sold out</p>
                </div>
                <% end %>
                <% if product.is_active == false %>
                <div class="mypage-is-active-wrap">
                  <p>出品停止中</p>
                </div>
                <% end %>
                <p class="products_name"><%= product.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>