<div class="container">
  <div class="row">
    <div class="col-8 plate">

      <div class="offer-header">
        <p>オファー成立商品(準備完了)</p>
      </div>


      <div class="product_wrapper">
        <% if @orders.empty? %>
          <h5>商品はありません</h5>
        <% else %>
          <% @orders.each do |order| %>
            <%= link_to admins_product_orders_path(product_id: order.order_product_id, customer_id: @customer.id) do %>
              <div class="products_block">
                <div class="products">
                  <div class="products_image">
                    <%= attachment_image_tag order.order_product.product_images.first, :image, fallback: 'no_image.jpg', class: "product_image" %>
                  </div>
                  <p class="products_name"><%= order.order_product.name %></p>
                </div>
              </div>
            <% end %>
          <% end %>

        <% end %>
      </div>



    </div>
  </div>
</div>



